ENVIRONMENT=prd
PROJECT_ID=aprovan
ORG_ID=aprovan

DOMAIN_NAME=aprovan.com
CERTIFICATE_ARN=arn:aws:acm:us-east-1:748469276309:certificate/c9c5a07b-8f3e-457c-964d-fb88d84efcda

AWS_DEFAULT_REGION=us-east-2
AWS_ACCOUNT_ID=748469276309
AWS_PROFILE=aprovan
